# Ignore Python cache
__pycache__/
*.pyc

# Ignore Node modules
ui/node_modules/

# Ignore Docker stuff
*.log
*.pid

# Ignore OS files
.DS_Store

# Ignore virtualenvs if any
api/venv/

# Ignore build files
build/
dist/
